body{
    background: #e6ddde;
    border: 1px solid red;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1024px;
}

header{
    height: 230px;
    padding-top: 30px;
    text-align: center;
}

hr{
    margin-top: 30px;
}

nav ul li{
    display: inline-block;
    margin: 5px 18px;
}


section article:nth-child(2) article{
    border: 1px solid red   ;
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

section article article:nth-child(2){
    margin-left: 32px;
}

#cuadro-cafe{
    background: #522d27;
    border: 10px solid white;
    margin-bottom: 15px;
    padding: 20px;
}

#cuadro-rosa{
    background: #e0dae8;
    border: 10px solid white;
    margin-bottom: 15px;
    padding: 20px;
}

#subtitulo{
    font-size: 1.2em;
}

#texto{
    font-style: italic;
    margin-bottom: 50px;
    margin-left: 111px;
    width: 800px;
}

#titulo{
    font-size: 5em;
}

.letra-arial{
    font-family: Arial, Helvetica, sans-serif;
}

.letra-blanca{
    color: white;
}

.letra-gris{
    color: gray;
}

.letra-naranja{
    color: #ff5431;
}

.nito{
    font-weight: bold;
}

.tam-grande{
    font-size: 3em;
}

.tam-pequeno{
    font-size: 0.9em;
}

